body {
    background-color: #081141;
    font: normal 15pt arial;
    color: white;
}
 header {
    text-align: center;
 }

 section {
    color: black;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
    padding: 10px;
 }

 div#txt1 {
    padding: 20px;

 }

 footer {
    text-align: center;
 }